/* footer.module.css */
.section_8 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 1;
  background-color: var(--bk-color);
}
/* Estilos principais do footer */
.footer {
  /* border-bottom: 1px solid #0056b3; */
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  color: #333;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  position: relative;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.footerColumn {
  display: flex;
  width: 20%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  bottom: 1px solid red;
}

.footerTitle {
  width: 100%;
  height: 30%;
  margin: 0;
  font-family: "Proelium";
  font-size: 3vw;
  z-index: 1;
  overflow-y: hidden;
  background: linear-gradient(90deg, #ffab00, #ff3300, #ff0000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.footerText {
  overflow-y: hidden;
  width: 100%;
  height: 35%;
  font-family: "Purista";
  font-size: 1.3vw;
  font-weight: 800;
  color: var(--white);
  letter-spacing: 1px;
}

.footerList {
  list-style-type: none;
  padding: 0;
}

.footerList li {
  margin-bottom: 10px;
}

.footerList li i {
  margin-right: 8px;
}

.footerList a {
  overflow-y: hidden;
  width: 100%;
  height: 35%;
  font-family: "Purista";
  font-size: 1.3vw;
  font-weight: 800;
  color: var(--white);
  letter-spacing: 1px;
}

.footerList a:hover {
  color: var(--orange);
}

/* Links sociais */
.socialLinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 1vh;
  width: 100%;
}

.socialLinks img {
  width: 7vw;
}

.socialLinks a {
  color: white;
  font-size: 2vw;
  border-radius: 4px;
}

.socialLinks a:hover {
  color: var(--danger);
}

.footer .bi {
  transition: 0.5s;
  margin-left: 1vw;
  background: linear-gradient(90deg, #ffab00, #ff3300, #ff0000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.footer .bi:hover {
  color: var(--white);
}
/* Copyright */
.copyright {
  position: absolute;
  bottom: 0;
  font-family: "Purista";
  font-size: 1vw;
  font-weight: 800;
  color: var(--white);
  letter-spacing: 1px;
}

/* _________________MIDIA SCRENN _______________ */
/* MIDIA SCREN 480PX */
@media (max-width: 480px) {
  /* footer.module.css */
  .section_8 {
    width: 100%;
    height: 170vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }
  /* Estilos principais do footer */
  .section_8 .footer {
    /* border-bottom: 1px solid #0056b3; */
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    color: #333;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    position: relative;
    text-align: center;
  }

  .section_8 .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 90%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
  }

  .section_8 .footerColumn {
    flex: 1;
    width: 100%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 2vh;
    margin-left: 0;
  }

  .section_8 .footerTitle {
    background: linear-gradient(90deg, #ffab00, #ff3300, #ff0000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "Proelium";
    font-size: 8vw;
    white-space: normal;
    text-align: center;
    width: 100%;
  }

  .section_8 .footerText {
    font-size: 4vw;
    font-family: "Proelium";
    color: white;
    font-size: 5.5vw;
    text-align: center;
  }

  .section_8 .footerList {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 60vh;
  }

  .section_8 .footerList li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .footerList li:hover {
    background-color: #333;
    color: var(--indigo);
  }

  .footerList li i {
    margin-right: 8px;
  }

  .footerList a {
    background: linear-gradient(90deg, #ffab00, #ff3300, #ff0000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 6vw;
    font-family: "Proelium";
    transition: 0.5s;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .footerList li:hover a {
    color: var(--white);
  }
  /* Links sociais */
  .socialLinks {
    width: 100%;
  }
  .socialLinks .div_icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .socialLinks img {
    display: none;
  }
  .socialLinks a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 2vw;
    color: var(--orange);
    font-size: 7vw;
    border-radius: 4px;
  }

  .socialLinks a:hover {
    background: linear-gradient(90deg, #ffab00, #ff3300, #ff0000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 4vw;
    font-family: "Proelium";
  }

  .footer .bi {
    color: var(--orange);
    font-size: 8vw;
  }
  /* Copyright */
  .copyright {
    position: absolute;
    bottom: 0;
    color: white;
    font-family: SpaceGrotesk-VariableFont;
    font-size: 4vw;
    z-index: 3;
    text-align: center;
  }
}
